{% extends "base.html" %}
{% block content %}


    

    {% for ad in ads %}
    {{ ad.category_name }}<br>
    {{ ad.business_name }}<br>
    {{ ad.business_description }}<br>
    {{ ad.phone_number }}<br>
    {{ ad.address }}<br>
    {% endfor %}

    <div class="row">
        {% for ad in ads %}
        <div class="col s12 m6">
          <div class="card  cyan darken-2 darken-1">
            <div class="card-content white-text">
              <h3 <i class="far fa-building"></i><strong>  {{ ad.business_name .capitalize() }} </strong></h3><br>
              <h6 <i class="fas fa-tools"></i>  {{ ad.category_name .capitalize()}} </h6><br>
              <p <i class="fas fa-file-alt"></i>  {{ ad.business_description .capitalize()}} </p><br>
              <p <i class="fas fa-map-pin"></i>  {{ ad.address }} </p><br>
            </div>
            <h5 class="card-action fas fa-phone">
              <a href="">{{ ad.phone_number }}</a>
            </h5>
          </div>
        </div>
        {% endfor %}
      </div>
    

{% endblock %}