{% extends "base.html" %}
{% block content %}


    <div class="row">
        {% for ad in ads %}
        <div class="col s12 m6">
          <div class="card  cyan darken-2 darken-1">
            <div class="card-content white-text">
              <h3><strong>  {{ ad.business_name }} </strong></h3><br>
              <h6>  {{ ad.category_name }} </h6><br>
              <p>  {{ ad.business_description }} </p><br>
              <p>  {{ ad.address }} </p><br>
            </div>
            <h5 class="card-action">
              <a href="">{{ ad.phone_number }}</a>
            </h5>
          </div>
        </div>
        {% endfor %}
      </div>
    

{% endblock %}